*.o*
*.a*
*.so*
subprojects/*.wrap
subprojects/packagecache
build/meson*
build/*.json
build/.ninja*
build/build.ninja
build/subprojects/fribidi/bin/
build/subprojects/fribidi/test/unicode-conformance/
build/subprojects/glib/gio/gdbus-2.0/codegen/
build/subprojects/glib/fuzzing/
build/subprojects/glib/gio/gio
build/subprojects/glib/gio/gio-launch-desktop
build/subprojects/glib/gio/gio-querymodules
build/subprojects/glib/gio/glib-compile-resources
build/subprojects/glib/gio/glib-compile-schemas
build/subprojects/glib/glib/gtester
build/subprojects/glib/glib/gtester-report
build/subprojects/glib/gio/gdbus
build/subprojects/glib/gio/gapplication
build/subprojects/glib/glib-gettextize
build/subprojects/glib/gobject/glib-genmarshal
build/subprojects/glib/gobject/glib-mkenums
build/subprojects/glib/gobject/gobject-query
